.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: maroon;
}

.bar.selected {
  fill: orange;
}
.axis text {
  font: 10px sans-serif;
}

/*.grid line {
  stroke-width: .2px;
  shape-rendering: crispEdges;
  stroke: #fff;
}*/
.axis path {
  display: none;
}
.axis line {
  fill: none;
  stroke: lightgrey;
  shape-rendering: crispEdges;
}

.y.axis line {
  stroke: lightgrey;
  stroke-dasharray: 2,3;
  shape-rendering: crispEdges;
  stroke-width: 1;
  opacity: .8;
}
}
bar:hover {
        fill: green;
}

.line {
	/*fill: none;*/
    stroke: steelblue;
    stroke-width: 1;
    fill: none;

}
.line2 {
	/*fill: none;*/
    stroke: steelblue;
    opacity: 10;
}
.dot {
  stroke: #000;
}

/*.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

DIV.container {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 900px;
  padding-left: 35px;
  }

  DIV.headline {
    font-family: 'Cardo', serif;
    font-size: 1.3em; 
    text-align: left;  
}

DIV.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 300px;                  
  padding: 10px;             
  font: 10px sans-serif;        
  background: lightsteelblue;    
  opacity: 0;  
  border: 0px;       
}